nav li a.active{
    background-color: aqua !important;
    color: red;
}

nav li {
    color: rgba(0, 0, 0, 0.753);
}



.menu li:hover {
    /* background-color: transparent; */
    text-decoration: underline;
}

/* .homeBackgroungImg { */
#homeDiv{
    background-image: url('../../assets/images/donationBackImage.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    background-color: antiquewhite;
    /* opacity: 0.2; */
}